.card-title {
    margin-bottom: .75rem;
    background: #272c33;
    color: #fff;
    padding: 7px;
}
.card-title a {
	color: #fff;
}
.card-title a:hover {
	color: #007bff;
}
.btn-style{
    padding: 1px 4px 0px 4px;
}

.right-panel {
	overflow: hidden;
}

.menutoggle {
    background: #e74c3c;
    border-radius: 50%;
    color: #fff !important;
    cursor: pointer;
    font-size: 18px;
    height: 43px;
    line-height: 44px;
    margin: -2px 20px 0 -40px;
    text-align: center;
    width: 43px;
    z-index: 2;
}